// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
//@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Font-awesome
@import "~font-awesome/scss/font-awesome";

.layui-layout-admin .layui-body {
    padding-bottom: 50px;
    bottom: 0;
}

.table td, .table th {
    vertical-align: middle;
}
